doctype html 
html(lang='en')
    head
        title #{err}
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='author' content='Ryan Pereira')
        meta(charset='UTF-8')
    body
        h1 #{err}