header
    nav
        ul
            li
                a(href='/home') Home
            li
                a(href='/processadd') Add Process
            li
                a(href='/processedit') Edit Process
            li
                a(href='/processdelete') Delete Process
            li.float-right
                a(href='/logout') Log Out
                